body{
	font-family: 'Poppins', sans-serif;
}

div{
	height: 100%;
	width: 100%;
	background-color: #8f8f8f;
	border: 5px solid #454444;
	border-radius: 15px;
	
}

h1{
	height: 100%;
	width: 100%;
	background-color: yellow;
	border: 5px solid #454444;
	border-radius: 15px;
	font-size: 80px;
	text-align: center;
}

h2{
	font-size: 40px;
	text-align: center;

}

ul{
	
	list-style-type: none;
	
}

a{
	text-decoration: none;
}

a:link{
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	background-color: #111
}

a:active{
	color: black;
}

li{
	height: 15%;
	width: 15%;
	border: 5px solid;
	border-radius: 15px;
	font-size: 30px;
	text-align: left;
	background-color: #ebebeb;
	
}
